<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.intel.fireapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Tabungan Sampah"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity android:name=".MainActivity" />
        <activity android:name=".Account.register" />
        <activity android:name=".Account.login" />
        <activity android:name=".PengepulKecil.HomePK" />
        <activity android:name=".TukangRombeng.Home_tr" />
        <activity android:name=".Anggota.Home_Anggota" />
        <activity android:name=".PengepulKecil.tambahgrup" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PengepulKecil.InputAnggota" />
        <activity android:name=".PengepulKecil.PageAnggota"></activity>
    </application>

</manifest>